<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header('I Tuoi Documenti')}">
</head>
<body class="d-flex flex-column min-vh-100">
<div th:replace="~{fragments/navbar :: navbar}"></div>

<main class="container py-4">
  <div class="row mb-4">
    <div class="col-md-6 col-lg-4">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white text-center">
          <h4 class="mb-0">Accesso</h4>
        </div>
        <div class="card-body p-4">
          <form th:action="@{/login}" method="post">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="bi bi-person"></i>
                                    </span>
                <input type="text" class="form-control" id="username"
                       name="username" required autofocus>
              </div>
            </div>

            <div class="mb-4">
              <label for="password" class="form-label">Password</label>
              <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="bi bi-key"></i>
                                    </span>
                <input type="password" class="form-control"
                       id="password" name="password" required>
              </div>
            </div>

            <div class="d-grid">
              <button type="submit" class="btn btn-primary">
                <i class="bi bi-box-arrow-in-right me-2"></i>Accedi
              </button><br>
                <a href="/user/registration" class="bi bi-box-arrow-in-right margintop-5px me-2">Registrati</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
